<div class="smart-status-test-finished">
  <p>
    Thank you for completing the interaction test. You can find your test completion code below.
    It's important to enter this unique code into mechanical turk to get credit for completing the test.
  </p>
  <h2>Test Completion Code</h2>
  <div class="smart-status-survey-code">
    <%= unique_survey_code %>
  </div>
</div>
